<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Привет {0}!</h2>
    <form method="post" action="/successAdd">
        <input type="text" name="expenses"/>
        <input type="submit" value="Добавить"/>
    </form>
    <form action="/conclusion">
        <button type="submit">Вывести</button>
    </form>
</body>
</html>